.headerContentWrapper{
  max-width: 846px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.CardsFieldContainer{
  max-width: 1280px;
  margin: 0 auto;
}

.headerTitle{
  font-size: 36px;
  text-align: center;
  color: #F8F8F8;
}
.headerText{
  font-size: 16px;
  text-align: center;
  line-height: 1.5em;
}

.paginationContainer{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.arrow{
  background-color: transparent;
  cursor: pointer;
}

.arrow:disabled {
  opacity: 0.5;
  cursor: auto;
}

.arrow_left{
  transform: rotate(90deg)
}
.arrow_right{
  transform: rotate(-90deg)

}

@media (min-width: 767.98px) {
  .headerTitle{
    font-size: 64px;
  }
  .headerText{
    font-size: 20px;
  }
}